[package]
name = "streamweave"
version = "0.3.0"
edition.workspace = true
authors.workspace = true
license.workspace = true
repository = "https://github.com/Industrial/streamweave/tree/main/packages/streamweave"
homepage.workspace = true
documentation.workspace = true
keywords.workspace = true
categories.workspace = true
description = "Composable, async, stream-first computation in pure Rust"

[dependencies]
tokio = { workspace = true, features = ["macros", "rt", "time"] }
futures = { workspace = true }
async-trait = { workspace = true }
chrono = { workspace = true }
streamweave-error = { path = "../error", version = "0.3.0" }

[dev-dependencies]
proptest = { workspace = true }
tokio-stream = { workspace = true }

[features]
