[package]
name = "streamweave-graph"
version = "0.4.0"
edition.workspace = true
authors.workspace = true
license.workspace = true
repository = "https://github.com/Industrial/streamweave/tree/main/packages/graph"
homepage.workspace = true
documentation.workspace = true
keywords.workspace = true
categories.workspace = true
description = "Graph API for StreamWeave"

[dependencies]
async-stream = { workspace = true }
async-trait = { workspace = true }
streamweave = { path = "../streamweave", version = "0.4.0" }
streamweave-error = { path = "../error", version = "0.4.0" }
streamweave-pipeline = { path = "../pipeline", version = "0.4.0" }
streamweave-stateful = { path = "../stateful", version = "0.4.0" }
streamweave-window = { path = "../window", version = "0.5.0" }
streamweave-transformers = { path = "../transformers", version = "0.4.0" }
tokio = { workspace = true, features = ["macros", "rt", "sync", "time"] }
futures = { workspace = true }
chrono = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
streamweave-vec = { path = "../vec", version = "0.4.0" }
streamweave-transformers = { path = "../transformers", version = "0.4.0" }

[features]
